<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.dao.interfaces.UserDao">

    <select id="getById" resultMap="userResultMap">
        SELECT
        u.id as user_id,
        u.first_name as user_first_name,
        u.last_name as user_last_name,
        u.zip_code as user_zip_code,
        u.login as user_login,
        u.password as user_password,
        <include refid="com.solvd.dao.interfaces.OrderDao.body"/>,
        <include refid="com.solvd.dao.interfaces.ProductDao.body"/>
        FROM users u
        LEFT JOIN orders o
        ON u.id=o.user_id
        LEFT JOIN orders_has_products ohp
        ON o.id = ohp.orders_id
        LEFT JOIN products p
        ON ohp.products_id = p.id
        WHERE u.id = #{id};
    </select>

    <resultMap id="userResultMap" type="com.solvd.model.User" autoMapping="false">
        <id column="user_id" property="id"/>
        <result column="user_first_name" property="firstName"/>
        <result column="user_last_name" property="lastName"/>
        <result column="user_zip_code" property="zipCode"/>
        <result column="user_login" property="login"/>
        <result column="user_password" property="password"/>
        <collection property="orders" resultMap="com.solvd.dao.interfaces.OrderDao.orderResultMap"/>
    </resultMap>

</mapper>